{% extends "layout.html" %}
{% block content %}
<body>
    WATCHLIST
</body>

<section id="blog-block" class="blog single-post">
	<!-- Main Content start-->
	<div class="container">
		<div class="row">
			<!-- Post Block-->
			<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">	
				{% for post in posts %}
			        <article class="media content-section">
			          <div class="media-body">
			            <div class="article-metadata">
			              <a class="mr-4" href="#">{{ post.author }}</a>
			              <small class="text-muted">{{ post.date_posted }}</small>
			            </div>
			            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
			            <p class="article-content">{{ post.description }}</p>
			          </div>
                    </article>
                    
                
				{% endfor %}
            </div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form>
		</div>
	</div>
</section>
{% endblock content %}
